html {
    background: url(background3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home {
    text-align: center;
}

h1 {
    font-family: Fira Sans, sans-serif;
    font-size: 45px;
    letter-spacing: 4px;
    word-spacing: 5px;
    color: #e1f2fe;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

h2 {
    font-family: Fira Sans, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

h3 {
    font-family: Fira Sans, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.login, .login2 {
    font-family: Fira Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;

}

input[type=submit] {
    background-color: #ede6e3;
    color: #1968dd;
    padding: 12px 20px;
    border: none;
    border-radius: 17px;
    cursor: pointer;

}

table, th, td {
    border: 3px solid #e7eef3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.give_answer {
    text-align: center;
}

.questionbtn {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    float: left;
}

.edit {
    padding-top: 5px;
    padding-bottom: 5px;

}

.searching {
    text-align: right;
    padding-bottom: 20px;
    display: inline-block;
    float: right;
}

.submission {
    font-family: Fira Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: right;

}

.username {
    font-family: Fira Sans, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #bab2b5;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: left;
}

.vote_number {
    font-family: Fira Sans, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
}

.view_number {
    font-family: Fira Sans, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #cfe4d9;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
}

.message {
    font-family: Fira Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #cfe4d9;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: justify-all;
}

.delete {
    font-size: 15px;
    text-align: left;
}

.voting {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: right;
}

table {
    border-collapse: collapse;
    font-family: Fira Sans, sans-serif;
    font-size: 23px;
    letter-spacing: 4px;
    word-spacing: 5px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

#search_result {
    width: 100%;
    text-align: center;

}

th {
    text-align: center;
    font-family: Fira Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.content-wrapper {
    padding: 2px;
    margin: 70px;
    text-align: justify;
    text-justify: inter-word;
}

:visited {
    color: #beb9ff;
}

label {
    font-family: Fira Sans, sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #454851;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.form_message {
    text-align: center;
}

.form_submit {
    text-align: center;
}

.form_title {
    text-align: center;
}

#checkmark {
    color: lawngreen;
}

#user_list {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

#question_table {
    width: 100%;
    text-align: center;
}

#answer_table {
    width: 100%;
    text-align: center;
}

#accepted_answer {
    font-family: Fira Sans, sans-serif;;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: #e1f2fe;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
}

.allquestion {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}