{% extends "layout.html" %}
{% block content %}
    <h1>What do you want to ask?</h1>
    <form method='POST' action={{ url_for('add_question') }}>
        <div class="form_title">
            <label for=title>Title<br></label>
            <textarea id="title" name="title" rows="5" cols="70"></textarea>
        </div>
        <div class="form_message">
            <label for="message">Message<br></label>
            <textarea id="message" name="message" rows="15" cols="70"></textarea>
        </div>
        <div class="form_submit">
            <input type="submit" value="Ask them tiger!">
        </div>
    </form>
{% endblock %}
