<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>What do you want to ask?</h1>
    <form method='POST' action={{ url_for('add_question') }}>
        <div>
            <label for=title>TITLE<br></label>
            <textarea id="title" name="title" rows="5" cols="20"></textarea>
        </div>
        <div>
            <label for="message">Message<br></label>
            <textarea id="message" name="message" rows="5" cols="20"></textarea>
        </div>
        <div>
            <label for="image">Image path<br></label>
            <textarea id="image" name="image" rows="5" cols="20"></textarea>
        </div>
        <div>
            <input type="submit" value="Ask them tiger!">
        </div>
    </form>
    
</body>
</html>