{% extends "layout.html" %}
{% block content %}
    <h1>ASK MATE</h1>
    <h2>Latest Questions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>View number</th>
            <th>Vote number</th>
        </tr>
        {% for question in latest_questions %}
        <tr>
            <td>{{ question['submission_time'] }}</td>
            <td><a href="/question/{{question['id']}}"> {{ question['title'] }} </a></td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action={{ url_for('route_home') }} method='GET'>
        <div>
            <input type="submit" value="View all questions">
        </div>
    </form>
{% endblock %}