{% extends "layout.html" %}
{% block content %}
    <h1>ASK MATE</h1>
    {% if not session['login'] %}
    <a href={{ url_for('registration') }}>registration</a>
    <a href="{{ url_for('login') }}">log in</a>
    {% endif %}
    <h2>Latest Questions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>View number</th>
            <th>Vote number</th>
        </tr>
        {% for question in latest_questions %}
        <tr>
            <td>{{ question['submission_time'] }}</td>
            <td><a href="/question/{{question['id']}}"> {{ question['title'] }} </a></td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if session['login'] %}
    <form action={{ url_for('add_question') }} method='GET'>
        <div>
            <input type="submit" value="Ask a question">
        </div>
    {% endif %}
    </form>
    <form action={{ url_for('route_home') }} method='GET'>
        <div>
            <input type="submit" value="View all questions">
        </div>
    </form>
    <div class="searching">
        <form action="/search" method="POST">
            <input type="text" name="query" id="query" placeholder="Search...">
            <input type="submit" value="SEARCH">
            <br>
        </form>
        <form action="/user_list">
            <div class="user_list">
                <input type="submit" value="All users">
            </div>
        </form>
{% endblock %}