{% extends "layout.html" %}
{% block content %}
    <h1>ASK MATE</h1>
    <h2>Latest Questions</h2>
    <table>
        <tr>
            <th>Latest Questions</th>
            <th><a href ="{{ url_for('order_by',atr='submission_time',direction='asc') }}">&uarr;</a>Date<a href="{{ url_for('order_by',atr='submission_time',direction='desc') }}">&darr;</a></th>
            <th><a href ="{{ url_for('order_by',atr='title',direction='asc') }}">&uarr;</a>Title<a href ="{{ url_for('order_by',atr='title',direction='desc') }}">&darr;</a></th>
            <th><a href ="{{ url_for('order_by',atr='view_number',direction='asc') }}">&uarr;</a>View number<a href ="{{ url_for('order_by',atr='view_number',direction='desc') }}">&darr;</a></th>
            <th><a href ="{{ url_for('order_by',atr='vote_number',direction='asc',key='45') }}">&uarr;</a>Vote number<a href ="{{ url_for('order_by',atr='vote_number',direction='desc') }}">&darr;</a></th>
        </tr>
        {% for question in latest_questions %}
        <tr>
            <td>{{ question['submission_time'] }}</td>
            <td><a href="/question/{{question['id']}}"> {{ question['title'] }} </a></td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action={{ url_for('route_home') }} method='GET'>
        <div>
            <input type="submit" value="View all questions">
        </div>
    </form>
{% endblock %}