<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ask mate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
    <div class = 'login'>
        {% if session['login'] %}
            <h4>Logged in as {{ session['username'] }}</h4>
            <form action='{{ url_for('logout') }}'>
                <input type="submit" value="LOG OUT" />
            </form>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        </script>
      {% endif %}
    {% endwith %}
        <div class="content-wrapper">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>