<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>

    <h1>{{ data_question['title'] }}</h1>
    <table>
        <thead>
            <tr>
                <td><h2>Submission Time</h2></td>
                <td><h2>Vote number</h2></td>
                <td><h2>View number</h2></td>
                <td><h2>Message</h2></td>
                <td><h2>Image</h2></td>
            </tr>
        </thead>
        <tr>
            <td>{{ data_question['submission_time']}}</td>
            <td>{{ data_question['vote_number']}}</td>
            <td>{{ data_question['view_number']}}</td>
            <td>{{ data_question['message']}}</td>
            <td>{{ data_question['image']}}</td>
        </tr>
    </table>
    <form action="/question/{{ data_question['id'] }}/delete" method="post">
        <input type="submit" value="delete">
    </form>

    <br><br>
    <h1>Answers</h1>
    <table>
        <thead>
            <tr>
                <td><h2>Submission Time</h2></td>
                <td><h2>Vote number</h2></td>
                <td><h2>Message</h2></td>
                <td><h2>Image</h2></td>
            </tr>
        </thead>
        <tbody>
            {% for item in answers_for_question %}
                <tr>
                    <td>{{ item['submission_time']}}</td>
                    <td>{{ item['vote_number']}}</td>
                    <td>{{ item['message']}}</td>
                    <td>{{ item['image']}}</td>
                    <td><button tybe="button" value="DELETE THIS ANSWER">DELETE THIS ANSWER</button></td>
                </tr>
            {% endfor%}
        </tbody>

    </table>
    <br>
    <form action="/question/{{ data_question['id'] }}/new_answer", method="GET">
        <input type="submit" value="Give an answer">
</body>
</html>