{% extends "layout.html" %}
{% block content %}

    <h1>{{ data_question[0]['title'] }}</h1>
        <div class = "username">
                {{ data_question[0]['username'] }}
                ({{ data_question[0]['reputation'] }})
        </div>

        <div class = "submission">
            <p>Submission time {{ data_question[0]['submission_time']}}</p>
        </div>
        <div class = "message">
            <p>{{ data_question[0]['message']}}</p>
        </div>
            <p>
                <div class = "view_number">
                    View number {{ data_question[0]['view_number']}}
                </div>
                <div class = "vote_number">
                Vote number {{ data_question[0]['vote_number']}}
                </div>
            </p>
            <p>
            {% if session['user_id'] == data_question[0]['user_id'] %}
            <div class = "delete">
                <form action="/question/{{ data_question[0]['id'] }}/delete" method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
            {% endif %}
            <div class = "voting">
                <form action="/question/{{ data_question[0]['id'] }}/vote/up/yes">
                    <input type="submit" value="Upvote">
                </form>
                <form action='/question/{{ data_question[0]['id'] }}/vote/dwn/yes'>
                    <input type="submit" value="Downvote">
                </form>
            </div>
            </p>
        <div class = "give_answer">
            <form action="/question/{{ data_question[0]['id'] }}/new_answer", method="GET">
                <input type="submit" value="Give an answer">
            </form>
        </div>

    <br>
    <h1>Answers</h1>

        {% for item in answers_for_question %}
            <div class = "username">
                {{ item['username'] }}
                ({{ item['reputation'] }})
            </div>
            <div class = "submission">
                {{ item['submission_time']}}
            </div><br>
            <div class = "message">
                {{ item['message']}}
            </div>
            <div class = "vote_number">
                Vote number: {{ item['vote_number']}}
            </div>
            <p>
                {% if session['user_id'] == answers_for_question[0]['user_id'] %}
                <div class = "delete">
                <form action="/answer/{{ item['id'] }}/delete">
                        <input type="submit" value="Delete">
                    </form>
                </div>
                <div class = "edit">
                    <form action="/answer/{{ item['id'] }}/edit">
                        <input type="submit" value="Edit">
                    </form>
                </div>
                {% endif %}
                <div class = "voting">
                   <form action="/question/{{ item['id'] }}/vote/up/no">
                        <input type="submit" value="Upvote">
                    </form>
                    <form action="/question/{{ item['id'] }}/vote/dwn/no">
                        <input type="submit" value="Downvote">
                    </form>
                </div>
            {% endfor%}
            </p>
    <br>
    <div class = "home">
    <form action="/">
        <input type="submit" value="HOME">
    </form>
    </div>
{% endblock %}