{% extends 'layout.html' %}
{% block content %}
    <h1>Activities</h1>

    <div class="table" id="question_table">
        <table>
            {% if questions_by_user %}
                <th>Questions by users</th><br>
            {% endif %}
            <tbody>
                {% for question in questions_by_user %}
                <tr>
                    <td>
                        <a href="/question/{{question['question_id']}}"> {{ question['message'] }} </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table" id="answer_table">
        <table>
            {% if answers_by_user %}
                <th>Answers by users</th><br>
            {% endif %}
            <tbody>
            {% for answer in answers_by_user %}
                <tr>
                    <td>
                        {{ answer['message']}}
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>





{% endblock %}
